<div class="row mobileBuffer">
    <div class="col s10 m8">
        <div class="p5">
            <h1 class="white-text mt0">Tithes And Offerings</h1>
            coming soon...
        </div>
    </div>
</div>
