<div class="row m0 mobileBuffer">
    <div class="col s10 m8">
        <div class="p5 left">
            <h1 class="white-text mt0">What We Believe</h1>
            <h4 class="blur-shadow">Mission Statement</h4>

<p class="text4">In obedience to God, as a Christ-centered body of believers, we commit to disciple, equip and encourage one another to love, worship and serve our Lord and Savior Jesus Christ and to perpetually grow into a closer relationship with God, being more like Him everyday. Furthermore, we commit to share the Gospel and ourselves with all people until all know.</p>

<h5 class="white-text">Article IV</h5>

<p class="mb0 bold">Purpose Statement</p>
<p class="mt0">Trinity Baptist Church exists:
	<br>1.	To obey God, advance the Kingdom, and impact lives.
	<br>2.	To be a dynamic spiritual body empowered by the Holy Spirit, sharing Jesus Christ as Lord and Savior to people in our church, in our community, and throughout the entire world. 
	<br>3.	To be a fellowship of ever-growing, maturing Christians whose increased knowledge of the Master will be evident in our lives and result in striving for His holiness.
	<br>4.	To experience a constant and meaningful fellowship with our Heavenly Father, and with our fellow believers. 
	<br>5.	To be a church that unselfishly ministers to persons in our fellowship, in our community, and in the world in Jesus’ name. 
	<br>6.	To be a church, and then as individuals, whose purpose is to be Christ-like in our daily living, by total commitment of life, personality, and possessions to the Lordship of Christ.
	<br>7.	To have every strategy and philosophy built upon the New Testament approach of outreach; and to base it’s every teaching, program and worship upon The Word of God, The Bible.
</p>


<h5 class="white-text">Article V</h5>

<p class="mb0 bold">Covenant and Articles of Faith</p>

<p class="mt0">These are the core beliefs of the membership of Trinity Baptist Church according to The Word of God.
  </p>

  <p>	1.	The Scriptures<br>
<span class="green-text text-darken-3">We believe that the entire Bible is the inspired Word of God and that men of God “were moved by the Holy Spirit” to write the very words of Scripture. The Bible is therefore without error (inerrant). God has supernaturally preserved the Bible, and it is the solid and final authority for faith and life, providing encouragement, guidance, comfort and instruction for training in righteousness (2 Tim. 3:16-17; 2 Pet. 1:20-21).
</span></p><p>
	1.	The Godhead (Trinity)<br>
  <span class="green-text text-darken-3">We believe in one true God, who is the creator and totally worthy of our worship, eternally existing in three distinct persons (Father, Son and Holy Spirit) each of whom is fully and equally God (Deut. 6:4; Matt. 28:19; John 1:14, John 10:30; 2 Cor. 13:14).
    </span></p><p>
	1.	God the Father<br>
  <span class="green-text text-darken-3">We believe that God the Father is the first person of the Trinity and is the eternal, unchanging, all-powerful, all-knowing, all-wise, all-loving, completely just and perfectly holy, sovereign Ruler and Sustainer of the universe. He is the Father of our Lord and Savior Jesus Christ and the Father of all true believers (Gen. 1:1; Eph. 4:6; John 1:12-13, John 5:19-21, John 17:1-5: Isa. 40:21-28, Isa. 43:10-13, Isa. 46:8-11; Rom. 8:14-16).
    </span></p><p>
	1.	God the Son<br>
  <span class="green-text text-darken-3">We believe that Jesus Christ is the second person of the Trinity and is the only begotten eternal Son of God who became flesh to reveal God to man, to fulfill prophecy, and to become the Savior of the lost world. In becoming man, Jesus did not cease in any way to be God so that He is fully God and fully man inseparably united in one person forever. Jesus was miraculously conceived by the Holy Spirit; born of The Virgin Mary; lived a sinless life; died on the cross as the substitutionary, all-sufficient atoning sacrifice for all of the sins of all men for all time; was buried; bodily rose from the dead; physically ascended into heaven in His glorified, resurrected body; is seated at the right hand of the Father performing His ministry of intercession; will return in the air to claim His bride the church; and will come again to earth in bodily form, personally and visibly, to conclude human history and consummate God’s eternal plan by executing judgment and ushering in His Millennial Kingdom reign to be followed by the eternal state (John1:1,14,18; John 3:16; Luke 1:30-35; Phil. 2:5-8; Col. 2:3,9; Marl 10:45; Acts 2:22-24; John 1:29; Rom. 3:25-26; Heb. 10:5-14; 1 Pet. 2:24, 1 Pet. 3:18; John 20:20; Phil. 3:20-21; Heb. 1:3; Rom. 8:34; 1 John 2:1; Acts 1:11; Heb. 9:28; 1 Thes. 4:13-18; 2 Thes. 2:7; Matt. 24:44; Rev. 19:11-21; Rev. 21-22).
    </span></p><p>
	1.	God the Holy Spirit<br>
  <span class="green-text text-darken-3">We believe that the Holy Spirit is the third person of the Trinity who glorifies Christ and enables men to appropriate the salvation wrought by Christ.  He is the agent for the conviction of sin, for regeneration, and for leadership in Truth. Simultaneously with salvation, the Holy Spirit imparts new life, securely seals believers, enables believers to bear fruit, and empowers believers to live a life free from sin’s dominion. We also believe that the Holy Spirit gives spiritual gifts to believers for the edifying of the church in accordance with the teachings of scripture (1 Cor. 13:8, 1 Cor. 14:22; John 16:7-8; 1Cor. 6:19, 1Cor. 12:13; Eph. 1:13-14, Eph. 4:30; Gal. 5:16-17, Gal. 22-23; Rom. 8:5-13; 1 Pet. 4:10-11; Rom. 12:3-8).
    </span></p><p>
	1.	Man<br>
  <span class="green-text text-darken-3">We believe that man (mankind) was created in the image of God by direct act of God. Man was created to glorify God, worship and serve Him, and have fellowship with him. Man fell through sin by disobeying God, thru incurring both physical and spiritual death, which alienated him from God. Man’s nature was, thus, corrupted, and he is utterly lost, “dead in trespasses and sins”, and totally incapable of coming back into right relationship with God by his own merit or effort (Gen. 1:26, Gen. 2:6, 17, Gen. 3:17-24; Isa. 59:1-2; Rom. 3:9-19,23, Rom. 5:8; Luke 18:26-27; Eph. 2:13).
    </span></p><p>
	1.	Satan<br>
  <span class="green-text text-darken-3">We believe that Satan is the instigator of evil and a real spirit being. He is a fallen angel who, under the sovereign permission of God, has been given temporary rulership of the earth. He was utterly defeated at the cross, but the execution of his judgment has been postponed by God until after the Millennial Kingdom, when he will be cast into the eternal lake of fire. In the meantime, he deceives the world and seeks to establish his counterfeit kingdom on earth to discredit and blaspheme God and to tempt, accuse, attack and destroy believers. He can be resisted by the believer through faith and reliance on the power of the Holy Spirit (Gen. 3:1-5; Isa. 14:12-17; Ezek. 28:11-19; Job 1-2; 1 John 5:19; 2 Cor. 11:14; 1 Tim. 3:6; 1 Pet. 5:8-9; James 4:7; Rev. 12:9, Rev. 20:1-3, Rev. 7-10).
    </span></p><p>
	1.	Salvation<br>
  <span class="green-text text-darken-3">We believe that the shed blood of Jesus Christ on the cross provides the sole basis for forgiveness of sins and salvation, which is the free gift of God’s grace. Salvation is affected by the regenerating work of the Holy Spirit and cannot be secured by man’s works or personal merit. Salvation is only appropriated by a person placing his faith in the finished work of Christ. Repentance is a turning toward God and away from sin and is a part of but not separate from believing faith. “The Gospel is the power of God for salvation to everyone who believes” and those who receive Jesus Christ by faith are born again, have their sins forgiven, become children of God, are a new creation in Christ, and “are sealed by the Holy Spirit unto the day of redemption” being permanently kept by the power of God (Eph. 1:7:13-14; John 1:12-13, John 3:1-7, John 14-16; 2 Cor. 5:17, Rom. 1:16, Rom. 14:6; Acts 26:20; 1 Pet. 1:3-5).
    </span></p><p>
	1.	The Christian Life<br>
  <span class="green-text text-darken-3">We believe that every Christian should live for Christ and not for himself and should, by the power of the indwelling spirit, allow Christ to manifest His life through him to God’s glory. By ever increasing obedience to the Word of God, each believer should mature and perpetually become more like Jesus. In the power of the Spirit, each believer should live a holy life; not fulfill the lusts of the flesh; exercise his spiritual gifts to build up the body of Christ; witness for Christ; be personally involved in making disciples to fulfill the great commission; perform good works and bear fruit to the glory of God (Gal. 2:20; 1 Pet. 1:15-16, 1 Pet. 2:11; 2 Cor. 5:10-15; Rom. 6:11-13; Eph. 2:10, Eph. 4:11-12, Eph. 4:22-24; 1 Pet. 4:10-11; Acts 1:8; Matt. 28:18-20; Col. 1:10; John 15:8, 16).
    </span></p><p>
	1.	The Church<br>
  <span class="green-text text-darken-3">We believe that the church is the body of Christ of which Jesus in the Head and whose members are those who have truly received Christ by faith. The church is a tangible expression of the body of Christ by faith. The local church is a tangible expression of the body of Christ in a particular location. Since all members of the body of Christ are united in Christ by the same Spirit, they should live in love, harmony and unity, being intent on the same purpose. The purpose of the church is to make Christ known to the lost, to make disciples, and to glorify God on earth (Acts 1:8; 1 Cor. 12:12-27; Eph. 1:20-23, Eph. 4:1-6, Eph. 4:12-16; Matt. 28:18-20; John 17; Col. 1:24-29).
    </span></p><p>
	1.	Evangelism<br>
  <span class="green-text text-darken-3">The Communication of God’s word to the world is evangelism. The Bible declares that God is not willing for anyone to perish and that God’s desire is for His house to be full. The Bible places the responsibility of evangelism on the Church collectively and on each and every believer. His intent was that “through the church, the manifold wisdom of God should be made known.” (Eph. 3:10, 2 Pet. 3:9)
    </span></p><p>
  	1.	Prayer<br>
    <span class="green-text text-darken-3">The first thing the early church did when they assembled was pray together. Prayer is the fuel that drives the ambitious priorities of the church and the spiritual power that changes the world. Christ demonstrated the power of prayer by making it a priority of His earthly ministry. If the church is going to be effective, it must pray. (Acts 1:14, John 2:16, John 17, Peter 5:7)
      </span></p><p>
	1.	Worship <br>
  <span class="green-text text-darken-3">The fundamental practice of worship is our availability to God. Every time we enter the presence of God, we worship. There are many expressions of worship including singing, commitment, praying, hearing the word of God, giving, baptism, meditating and the celebration of the Lord’s Supper. Trinity Baptist Church will meet for corporate worship every Sunday morning, Sunday night and Wednesday night, or as the Pastor sees fit. (Gen. 22, Psalm 71:8, Psalm 95:6, John 4:24, Romans 12:1-2, Hebrews 10:23-25)  
    </span></p><p>
	1.	Security<br>
  <span class="green-text text-darken-3">All believers are eternally secure in Christ (john 10:24-30; Rom. 8:35-39). They are born again (John 3:3-5; 1 John 5:1; 1 Pet. 1:23), made new creatures in Christ (2 Cor. 5:17; 2 Pet. 1:4), and indwelt by the Holy Spirit (Rom. 8:9; 1 John 4:4), enabling their perseverance unto good works (Eph. 2:10), and they are permanently kept by the power of God (Phil. 1:6; 2 12-13; 1 Pet. 1:3-5; Heb. 13:5).
    </span></p><p>
	1.	Heaven and Hell<br>
  <span class="green-text text-darken-3">The Bible teaches there is a literal heaven being prepared for the saints of God and a literal hell for those that reject the Lord Jesus. (John 14:1-6; Matt. 31:34; Rev. 20:1, 22:13) God in His own time and in His own way will bring the world to its appropriate end. According to His promise, Jesus Christ will return personally and visibly in glory to the earth; the dead will be raised; and Christ will judge all men in righteousness. The unrighteous will be consigned to Hell, the place of everlasting punishment. The righteous in their resurrected and glorified bodies will receive their reward and will dwell forever in Heaven with the Lord. (Isaiah 2:4; 11:9; Matt. 16:27; 18:8-9; 19:28; 24:27, 30, 36, 44; 25:31-46; 26:64; Mark 8:38; 9:43-48; Luke 12:40-48; 16:19-26; 17:22-37; 21:27-28; John 14:1-3; Acts 1:11; 17:31; Romans 14:10; 1 Cor. 4:5; 15:24-28, 35-58; 2 Cor. 5:10; Phil. 3:20-21; Col. 1:5; 3:4; 
1 Thes. 4:14-18; 5:1; 2 Thes. 1:7; 2; 1 Tim. 6:14; 2 Tim. 4:1,8; Titus 2:13; Heb. 9:27-28; James 5:8; 
2 Peter 3:7; 1 John 2:28; 3:2; Jude 14; Rev. 1:18; 3:11)
</span></p><p>
	1.	Family<br>
  <span class="green-text text-darken-3">God instituted marriage as the uniting of one biological man and one biological woman in covenant for a lifetime.  It is God’s unique gift to reveal the union between Christ and His church and to provide for the man and the woman in marriage the framework for intimate companionship, the channel of sexual expression according to biblical standards, and the means for procreation of the human race. The husband and wife are of equal worth before God, since both are created in God’s image.  The marriage relationship models the way God relates to His people.  A husband is to love his wife as Christ loved the church and gave Himself for the church.  A wife is to submit herself to the leadership of her husband even as the church willingly submits to the headship of Christ.  She, being in the image of God as is her husband and thus equal to him, has the God-given responsibility to respect her husband and to serve as his helper, as he manages the household and nurtures the next generation. Children, from the moment of conception, are a blessing and heritage from the Lord.  Parents are to demonstrate to their children, God’s pattern for marriage.  Parents are to teach their children spiritual and moral values and to lead them through consistent lifestyle example and loving discipline, to make choices based on biblical truth.  Children are to honor and obey their parents. 
    </span></p><p>
  <span class="green-text text-darken-3">Genesis 1:26-28; 2:15-25; 3:1-20; Exodus 20:12; Deuteronomy 6:4-9; Joshua 24:15; 1 Samuel 1:26-28; Psalms 51:5; 78:1-8; 127; 128; 139:13-16; Proverbs 1:8; 5:15-20; 6:20-22; 12:4; 13:24; 14:1; 17:6; 18:22; 22:6,15; 23:13-14; 24:3; 29:15,17; 31:10-31; Ecclesiastes 4:9-12; 9:9; Malachi 2:14-16; Matthew 5:31-32; 18:2-5; 19:3-9; Mark 10:6-12; Romans 1:18-32; 1 Corinthians 7:1-16; Ephesians 5:21-33; 6:1-4; Colossians 3:18-21; 1 Timothy 5:8,14; 2 Timothy 1:3-5; Titus 2:3-5; Hebrews 13:4; 1 Peter 3:1-7.
    </span></p><p>
	1.	Last Things<br>
  <span class="green-text text-darken-3">The Bible teaches the pre-tribulational, pre-millennial and imminent return of the Lord Jesus Christ. First is the “catching away” of the saints, then a seven-year period of tribulation, then the Second Coming of the Lord to rule and to reign over the earth for the millennium to be followed by the eternal state. (Matt. 24:44, John 14:1-3, 1 Cor. 15:51, 1 Thes. 4:13-18)
    </span></p>



    <p class="mb0 bold">Church Covenant</p>

    <p class="mt0">Having been led as we believe by the Spirit of God to receive Jesus Christ as Lord and Savior, and on the profession of our faith, having been baptized in the name of the Father, and of the Son, and of the Holy Spirit, we do now in the presence of God and this assembly most solemnly and joyfully enter into covenant with one another as one body in Christ.
</p><p>
We engage, therefore, by the aid of the Holy Spirit to walk together in Christian love; to strive for the advancement of this Church in knowledge and holiness; to sustain its worship, ordinances, doctrines and disciplines, to contribute cheerfully and regularly to the support of the ministry, the expenses of the church and the relief of the poor and the spread of the Gospel through all nations…all the while doing so with compassion without compromise.

</p><p>We also engage to maintain family and personal devotions; to religiously educate our children; to seek the salvation of our kindred and acquaintances; to walk circumspectly in the world; to be just in our dealings, faithful in our engagements, and exemplary in our deportment; to avoid all tattling, backbiting, and excessive anger, to be zealous in our efforts to advance the Kingdom of our Savior. 

  </p><p>We further engage to watch over one another in brotherly love; to remember one another in prayer; to aid one another in sickness and distress; to cultivate Christian sympathy in feeling, and Christian courtesy in speech, to be slow to take offense, but always ready for reconciliation, and mindful of the biblical principles to secure it without delay.  

    </p><p>We moreover engage that when we remove from this place, we will, as soon as possible, unite with some other church where we can carry out the spirit of this covenant and principles of God’s Word.

        </div>
    </div>
</div>