<div class="row m0 mobileBuffer">
    <div class="col s10 m8">
        <div class="p5 left">
            <h1 class="white-text mt0">Outreach Programs</h1>
            <h4 class="mt0">Masters Voice</h4>
            <img class="responsive-img rounded hoverable" src="../../assets/masters-voice.jpg">
            <p class="m2"><a href="http://www.mastersvoice.com" class="black-text" target="_blank"><i class="material-icons left">web</i> www.mastersvoice.com </a></p>
            <p class="m2"><i class="material-icons left">phone</i> 888-777-7122</p>
            <p class="m2"><a href="mailto:office@mastersvoice.com" class="black-text" target="_blank"><i class="material-icons left">email</i> office@mastersvoice.com</a> </p>

            <h4 class="mt5">Albert Titsworth</h4>
            <img class="responsive-img rounded hoverable" src="../../assets/staff-albert.jpg">
            <p class="m2">Nursing Home Ministry</p>
            
            <h4 class="mt5">Trinity Bristow Missions</h4>
            <h5>“Local, Regional, Global”</h5>
            <a href="../../assets/staff-albert.jpg" data-lightbox="image"><img class="mr3 mb3 rounded hoverable float-left gallery-img" src="../../assets/staff-albert.jpg"></a>
            <a href="../../assets/staff-jessie.jpg" data-lightbox="image"><img class="mr3 mb3 rounded hoverable float-left gallery-img" src="../../assets/staff-jessie.jpg"></a>
            <a href="../../assets/staff-john.jpg" data-lightbox="image"><img class="mr3 mb3 rounded hoverable float-left gallery-img" src="../../assets/staff-john.jpg"></a>
            <a href="../../assets/staff-ricky.jpg" data-lightbox="image"><img class="mr3 mb3 rounded hoverable float-left gallery-img" src="../../assets/staff-ricky.jpg"></a>
            <a href="../../assets/staff-ronny.jpg" data-lightbox="image"><img class="mr3 mb3 rounded hoverable float-left gallery-img" src="../../assets/staff-ronny.jpg"></a>

        </div>
    </div>
</div>
