<div class="mobileNav">
  <a routerLink="home" routerLinkActive="active" class="waves-effect waves-light btn-flat btn-large green-text"><i class="material-icons">home</i></a><br>
  <a routerLink="what-we-believe" routerLinkActive="active" class="waves-effect waves-light btn-flat btn-large green-text"><i class="material-icons">extension</i></a><br>
  <a routerLink="staff" routerLinkActive="active" class="waves-effect waves-light btn-flat btn-large green-text"><i class="material-icons">person</i></a><br>
  <a routerLink="outreach" routerLinkActive="active" class="waves-effect waves-light btn-flat btn-large green-text"><i class="material-icons">language</i></a><br>
  <a routerLink="podcasts" routerLinkActive="active" class="waves-effect waves-light btn-flat btn-large green-text"><i class="material-icons">headset</i></a>
</div>
<div class="nav">
  <a routerLink="home" routerLinkActive="active" class="waves-effect waves-light btn-flat btn-large green-text"><i class="material-icons right">home</i>home</a><br>
  <a routerLink="what-we-believe" routerLinkActive="active" class="waves-effect waves-light btn-flat btn-large green-text"><i class="material-icons right">extension</i>what we believe</a><br>
  <a routerLink="staff" routerLinkActive="active" class="waves-effect waves-light btn-flat btn-large green-text"><i class="material-icons right">person</i>our staff</a><br>
  <a routerLink="outreach" routerLinkActive="active" class="waves-effect waves-light btn-flat btn-large green-text"><i class="material-icons right">language</i>outreach</a><br>
  <a routerLink="podcasts" routerLinkActive="active" class="waves-effect waves-light btn-flat btn-large green-text"><i class="material-icons right">headset</i>podcasts</a>
</div>
<div class="logo">
  <img src="../assets/logo.png">
</div>
<router-outlet></router-outlet>
