<div class="row" *ngIf="!seeAdmin">
  <div class="col s3 mt3">
    <form (ngSubmit)="letMeAdmin(passcode)">
      <div class="input-field">
        <input id="passcode" type="password" autocomplete="off" [(ngModel)]="passcode" name="passcode">
        <label for="passcode">Passcode</label>
      </div>
      <button class="btn" type="submit">Login</button>
    </form>
  </div>
</div>

<div class="row" *ngIf="seeAdmin">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Manage Events</span>
        <div class="card grey lighten-4">
          <div class="card-content">
            <b>Add Event</b>
            <div class="input-field">
              <input id="title" type="text" autocomplete="off" [(ngModel)]="newEvent.title">
              <label for="title">New Event Title</label>
            </div>
            <div class="input-field">
              <textarea id="event" type="text" class="materialize-textarea" autocomplete="off" [(ngModel)]="newEvent.body"></textarea>
              <label for="event">New Event Description</label>
            </div>
            <button class="btn-flat green lighten-2 waves-effect" (click)="saveEvent()">Save Event</button>
          </div>
        </div>
        <table>
          <tbody>
            <tr *ngFor="let e of events">
              <td>{{e.title}}<br>
              <small>{{e.body}}</small></td>
              <td class="right-align"><button class="btn red waves-effect" (click)="deleteEvent(e._id)">&times;</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
