<div class="row m0 mobileBuffer">
    <div class="col  s10 m8">
        <div class="p5 left">

            <h1 class="white-text mt0">Meet The Staff</h1>
            <div class="row">
                <div class="col s12 m6">
                  <div class="card hoverable">
                    <div class="card-image">
                      <img src="../../assets/staff-john.jpg">
                      <span class="card-title">Senior Pastor</span>
                      <a href="mailto:pastorjohn@trinitybristow.com" class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">email</i>email me</a>
                    </div>
                    <div class="card-content">
                      <p class="bold">John Tidwell</p>
                        <p>pastorjohn@trinitybristow.com<br>
                        918-906-8883</p>
                    </div>
                  </div>
                </div>
                <div class="col s12 m6">
                    <div class="card hoverable">
                        <div class="card-image">
                        <img src="../../assets/staff-ricky.jpg">
                        <span class="card-title">Staff Evangelist</span>
                        <a href="mailto:Office@mastersvoice.com" class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">email</i>email me</a>
                        </div>
                        <div class="card-content">
                        <p class="bold">Ricky Capps</p>
                            <p>Master’s Voice<br>
                                office@mastersvoice.com</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card hoverable">
                        <div class="card-image">
                        <img src="../../assets/staff-ronny.jpg">
                        <span class="card-title">Youth Minister</span>
                        <a href="mailto:youth@trinitybristow.com" class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">email</i>email me</a>
                        </div>
                        <div class="card-content">
                        <p class="bold">Ronny Capps</p>
                            <p>youth@trinitybristow.com</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <div class="card hoverable">
                        <div class="card-image">
                        <img src="../../assets/staff-jessie.jpg">
                        <span class="card-title">Kids Minister</span>
                        <a href="mailto:kids@trinitybristow.com" class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">email</i>email me</a>
                        </div>
                        <div class="card-content">
                        <p class="bold">Jessie McKinzie</p>
                            <p>kids@trinitybristow.com</p>
                        </div>
                    </div>
                </div>
                





              </div>












              
        </div>
    </div>
</div>