body {
    font-family: 'Roboto', sans-serif;
    background-image: url('assets/background.jpg');
    background-size: 130% 110%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
}

.logo {
    position: fixed;
    z-index: 10;
    bottom: 3em;
    right: 2em;
}

.nav {
    position: fixed;
    z-index: 9;
    top: 5em;
    right: 8em !important;
    text-align: right;
}

.nav .active {
    color: #fff !important;
    background-color: rgb(138, 192, 169);
}

.gallery-img {
    max-width: 100px;
}

@media only screen and (max-width: 992px) {
    body {
        font-family: 'Roboto', sans-serif;
        background-image: url('assets/background.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .nav {
        position: fixed;
        z-index: 9;
        top: 5em;
        right: 4em !important;
        text-align: right;
    }
    
}

@media only screen and (max-width: 780px) {
    body {
        font-family: 'Roboto', sans-serif;
        background-image: url('assets/background.jpg');
        background-size: 200% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .nav {
        position: fixed;
        z-index: 9;
        top: 5em;
        right: 1em !important;
        text-align: right;
    }
    
}

@media only screen and (max-width: 735px) {
    body {
        font-family: 'Roboto', sans-serif;
        background-image: url('assets/background.jpg');
        background-size: 170% 120%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .nav { display: none; }

    .mobileNav { 
        position: fixed;
        z-index: 19;
        top: 5em;
        right: 1em !important;
        text-align: right;
        display: block !important; 
    }

    .logo {
        position: absolute;
        z-index: 1 !important;
        top: 3em;
        left: 3em;
        max-height: 30vh;
    }

    .logo img { width: 80% !important; }

    .mobileBuffer { padding-top: 24em !important; }
    
}

.big-text { font-size: 7em !important; line-height: 0.8em; }

@media only screen and (max-width: 600px) {
    .big-text { font-size: 5em !important; line-height: 0.8em; }

}
@media only screen and (max-width: 460px) {
    .big-text { font-size: 4em !important; line-height: 0.8em; }
    .mobileBuffer { padding-top: 14em !important; }
    .logo img { width: 70% !important; }
    .mobileNav { 
        position: fixed;
        z-index: 19;
        top: 5em;
        right: -3px !important;
        text-align: right;
        display: block !important; 
    }
    body {
        font-family: 'Roboto', sans-serif;
        background-image: url('assets/background.jpg');
        background-size: 200% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    h1 { font-size: 3em !important; }
    h4 { font-size: 2em !important; }

    .gallery-img {
        max-width: 60px !important;
    }

}

.logo img { width: 28vw; }

.mobileNav { display: none; }

.nav {
    position: fixed;
    z-index: 9;
    top: 5em;
    right: 10em;
    text-align: right;
}

.nav .active {
    color: #fff !important;
    background-color: rgb(138, 192, 169);
}

.no-back { background: none !important; }
.news-head { font-size: 1.5em;  }

.rounded { border-radius: 10px !important; }

.left { text-align: left !important; }
.center { text-align: center; }
.float-left { float: left !important; }

.fixed-action-btn{
    left: 50px !important;
    bottom: 50px !important;
}

.p5 { padding: 2em}

.mt0 { margin-top: 0}
.mt3 { margin-top: 1em}
.mt5 { margin-top: 2em}
.ml1 { margin-left: 0.33em !important; }
.ml3 { margin-left: 1em !important; }
.ml5 { margin-left: 3em !important; }
.mr3 { margin-right: 1em; }
.mb0 { margin-bottom: 0 !important; }
.mb3 { margin-bottom: 1em }
.m0 { margin: 0 !important; }
.m2 { margin: 0.66 !important; }

.bigger-text { font-size: 9em !important; line-height: 0.8em; }
.text4 { font-size: 1.4em !important;  }

.bold { font-weight: bold; }

h1, h5 { font-weight: 100 !important; }

h5 { 
    text-align: left !important;
    text-shadow: #fff 0px 1px 0px;
 }

 .blur-shadow { text-shadow: #fff 0px 4px 60px !important; }