<div class="row m0 mobileBuffer">
    <div class="col s10 m8">
        <div class="p5 left">
                <h5 class="green-text text-darken-4 blur-shadow ml1">Welcome to Trinity Baptist Church</h5>
            <h1 class="white-text big-text mt0">Real, Relational, Relevant</h1>
            
            <a routerLink="giving" class="btn waves-effect waves-light green-text text-darken-3 ml3">our giving program</a>
            <div class="row m0">
                <div class="col s12 m12 l6 green-text">
                    <h5 class="mt5 orange-text text-darken-3"><i class="material-icons left">event</i> Upcoming Events</h5>
                    
                    <div *ngFor="let e of events">
                        <span class="news-head green-text text-darken-3"><i class="material-icons">sort</i> {{e.title}}</span>
                        <p class="mt0 green-text text-darken-4">{{e.body}}</p>
                    </div>

                </div>
                    


                <div class="col s12 m12 l6">
                    <h5 class="mt5 orange-text text-darken-3"><i class="material-icons left">ondemand_video</i> Pastor John Tidwell
                    </h5>
                    <div class="video-container rounded">
                        <iframe width="560" height="315" class="rounded" src="https://www.youtube.com/embed/2Vbg2dpX-EY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>


                <div class="col s12 m12 l6 green-text">
                        <h5 class="mt5 orange-text text-darken-3"><i class="material-icons left">accessibility_new</i> Come See Us!</h5>
                        <div class="video-container rounded"><iframe src="https://www.google.com/maps/embed?pb=!4v1529177040512!6m8!1m7!1svhcYmtKDAEZbyeF2ie4TQg!2m2!1d35.83078669305386!2d-96.39988183648047!3f161.56055792879602!4f7.665513959778096!5f0.7820865974627469" height="150" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                        
                        <h5 class="green-text text-darken-2"><i class="material-icons left">phone</i>918-367-3590</h5>
                    </div>

            </div>
        </div>
    </div>
</div>